table {
	margin-left: 40px;
	width: 75%;
}

table thead th a:hover {
	text-decoration: none;
}

table tfoot tr.total td > * {
	font-weight: bold;
}

.left-pane {
	width: 25%;
	float:right;
	margin-right: 30px;
}

.col-sorter li {
	cursor: move;
}

.status {
	position: fixed;
	top: 15px;
	right: 15px;
}

.appLogger {
	position: fixed;
	bottom: 15px;
	right: 15px;
	/*display: none;*/
}

.appLogger ul {
	padding-left: 0;
}

.appLogger li {
	list-style-type: none;
}

.pager-cnt {
	padding-left: 40px;
	padding-bottom: 15px;
}

.pagination {
	margin: 0;
}