table {
	margin-left: 0;
}

table thead th a:hover {
	text-decoration: none;
}

table tfoot tr.total td > * {
	font-weight: bold;
}

.config-pane {
	padding: 10px;
	width: 400px;
	margin: 15px;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	border: 1px solid #000;
}

.col-sorter li {
	cursor: move;
}

.status {
	position: fixed;
	top: 15px;
	right: 15px;
}

.appLogger {
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.appLogger ul {
	padding-left: 0;
}

.appLogger li {
	list-style-type: none;
}

.pager-cnt {
	padding-left: 40px;
	padding-bottom: 15px;
}

.pager-cnt > * {
	float: left;
}

.pagination {
	margin: 0;
}

.appPaginatorSelect {
	display: none;
}
.conatiner-fluid {
	margin: 20px;
}

.btn-config {
	margin-right: 20px;
}

.items-per-page {
	margin-right: 20px;
}